body{ margin: 0 auto; padding: 0; width: 100%; background-color: white; }
*{font-weight: normal;}
body{background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22661.1%22%20viewBox%3D%220%200%201440%20661.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20rgb%280%2C%20128%2C%2096%29%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22rgb%280%2C%20128%2C%2096%29%22%20d%3D%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22%2F%3E%3C%2Fsvg%3E);}
body{background-size: cover; 
     background-repeat: no-repeat; 
     height: 45px;
     width: 100%;
background-position:inherit;}

/* Logo shopify */
.lg{display: flex; justify-content: center; align-items: center;}

/* Titulo principal */
.Titulo{text-align: center;color:
     white; font-family: Arial, 
     Helvetica, sans-serif; 
     font-weight: 450; font-size: 330%;
margin-top: 4%;}
/* subtitulo */
.subtitulo{font-family: Verdana, Geneva, Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.subtitulo{font-size: 70%;}
/* input e botão */

.divph{display: flex;align-items: center;
     text-align: center; margin-left: auto; margin-right: auto; }
.placeholder{height: 50px; width: 450px; margin-left:34%; border-radius: 5px;}
.botaum{height: 55.9px;width: 160px;
      margin-left: 1%; 
      background-color:
      black; color: white;
     border-radius: 5px;}
.botaum:hover{cursor: pointer;}

/* Logo pc */
.pc{text-align: center;}
.pc{margin-top: 36px;}
main .pc>img{height: 450;width: 450px; margin: 110px;}
/* Texto a baixo do PC */
.subdosub{text-align: center; align-items: center; color: white;}

.dinheirinho{height: 50px;}
.pczim{height: 50px;}
.pessoa{height: 50px;}


.container{margin-top: 15%; display: flex; 
     flex-direction: row; 
     justify-content: space-around;
align-items: center;}

.line{text-align: center;}

.parag{text-align: center; align-items: center;}
.title{text-align: center;}

.bt{align-items: center;text-align: center; margin: 1%;}
.btnn{background-color: green; 
     color: white; 
     border-radius: 5px; 
     height: 50px;
      width: 180px;
     align-self: center;}
     .btnn:hover{cursor: pointer;}

.quadrado{display: flex; 
     flex-direction: column;
      justify-content: center;  
      align-items:center ; 
      justify-items: center;}
      
      .linhaprimeira{display: flex;
             align-items: center;
        justify-content: space-between center;
     border-bottom: 1px solid black;}
     


